
NATS_SERVERS=nats://localhost:4222
PORT=3020
NODE_ENV=development
ORDER_DATABASE_URL=localhost:5432/order_db

HUERTAS_API_URL=http://localhost:5000
HUERTAS_API_KEY=tu_api_key_super_secreta_aqui_123456789abcdef
